<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form class="book-form" action="/admin/add-book" method="POST">
            <div class="form-input">
                <label for="title">Book Title</label>
                <input type="text" name="title" id="title">
                <label for="summary">Book Summary</label>
                <textarea id="summary" name="summary" rows="6" cols="38"></textarea>
                <label for="author">Author</label>
                <input type="text" name="author" id="author">
            </div>

            <button class="btn" type="submit">Add Book</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>