<header>
    <nav>
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Library</a></li>
            <li><a class="<%= path === '/admin/add-book' ? 'active' : '' %>" href="/admin/add-book">Add Book</a></li>
        </ul>
    </nav>
</header>